<h1>新規執筆</h1>
<%= form_with model:@writing, url:writings_path, local:true do |f| %>
  <%= f.label :設計者名 %>
  <%= f.fields_for :designers, @writing.designers.build do |d| %>
    <%= d.text_field :last_name %>
    <%= d.text_field :first_name %>
  <% end %>

  <%= f.label :建築・土木構造物名 %>
  <%= f.text_field :name %>

  <%= f.label :ジャンル %>
  <%= collection_select(:genre, :name, @genres, :id, :name) %>

  <%= f.label :郵便番号 %>
  <%= f.text_field :postal_code %>

  <%= f.label :都道府県 %>
  <%= f.text_field :prefecture %>

  <%= f.label :市区町村 %>
  <%= f.text_field :city %>

  <%= f.label :町丁番地 %>
  <%= f.text_field :address %>

  <%= f.fields_for :photos, @writing.photos.build do |ph| %>
    <%= ph.label :写真 %>
    <%= ph.attachment_field :image %>
  <% end %>

  <%= f.fields_for :introductions, @writing.introductions.build do |i| %>
    <%= i.label :説明文 %>
    <%= i.text_field :introduction %>
  <% end %>

  <%#= f.fields_for :structure_tags, @writing.structure_tags.tags do |t| %>
  <%= f.fields_for :tags, @tag do |t| %>
    <%= t.label :タグを付ける %>
    <%= t.text_field :name %>
  <% end %>

  <%= f.submit '執筆完了' %>
<% end %>