<div class="container">
  <h4 class="mt-3 border-bottom">新規執筆</h4>
  <div class="form-group">
    <%= form_with model:@writing, url:writings_path, local:true do |f| %>

      <!--設計者氏名入力欄-->
      <div class="row mt-3">
        <div class="col">
          <%= f.label :設計者名 %>
        </div>
      </div>
      <div class="row">
      <%= f.fields_for :designers, @writing.designers.build do |d| %>
        <div class="col">
          <%= d.text_field :last_name, class:"form-control", placeholder:"例：隈" %>
        </div>
        <div class="col">
          <%= d.text_field :first_name, class:"form-control", placeholder:"例：研吾" %>
        </div>
      <% end %>
      </div>

      <!--建築・土木構造物名入力欄-->
      <div class="row mt-3">
        <div class="col">
          <%= f.label :建築・土木構造物名 %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.text_field :name, class:"form-control", placeholder:"例：国立競技場" %>
        </div>
      </div>

      <!--ジャンル選択欄-->
      <div class="row mt-3">
        <div class="col">
          <%= f.label :ジャンル %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= collection_select(:genre, :name, @genres, :id, :name, class:"form-control") %>
        </div>
      </div>

      <!--郵便番号入力欄-->
      <div class="row mt-3">
        <div class="col">
          <%= f.label :郵便番号 %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.text_field :postal_code, class:"form-control", placeholder:"例：163-0013" %>
        </div>
      </div>

      <!--都道府県入力欄-->
      <div class="row mt-3">
        <div class="col">
          <%= f.label :都道府県 %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.text_field :prefecture, class:"form-control", placeholder:"例：東京都" %>
        </div>
      </div>

      <!--市区町村入力欄-->
      <div class="row mt-3">
        <div class="col">
          <%= f.label :市区町村 %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.text_field :city, class:"form-control", placeholder:"例：新宿区" %>
        </div>
      </div>

      <!--町丁番地入力欄-->
      <div class="row mt-3">
        <div class="col">
          <%= f.label :町丁番地 %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.text_field :address, class:"form-control", placeholder:"例：霞ヶ丘10-1" %>
        </div>
      </div>

      <!--写真アップロード欄-->
      <%= f.fields_for :photos, @writing.photos.build do |ph| %>
      <div class="row mt-3">
        <div class="col">
          <%= ph.label :写真 %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= ph.attachment_field :image %>
        </div>
      <% end %>
      </div>

      <!--説明文入力欄-->
      <%= f.fields_for :introductions, @writing.introductions.build do |i| %>
      <div class="row mt-3">
        <div class="col">
          <%= i.label :説明文 %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= i.text_field :introduction, class:"form-control", placeholder:"例：東京オリンピック・パラリンピックの主会場です。" %>
        </div>
      <% end %>
      </div>

      <!--タグ入力欄-->
      <%= f.fields_for :tags, @tags do |t| %>
      <div class="row mt-3">
        <div class="col">
          <%= t.label :タグを付ける %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= t.text_field :name, class:"form-control", placeholder:"例：スポーツ" %>
        </div>
      <% end %>
      </div>

      <div class="row my-5">
        <div class="col">
        <%= f.submit '執筆完了', class:"btn btn-dark" %>
        </div>
      </div>
    <% end %>
  </div>
</div>