<div class="container">
  <h4 class="border-bottom pb-1 mt-3 "><%= @writing.name %></h1>
  <div class="row">
    <div class="col-lg-7"><%= attachment_image_tag @writing.photos.find_by(structure_id: @writing.id), :image, size:"500x500", format:"jpeg", fallback: "no_image.jpg" %></div>
    <div class="col-lg-5">
      <h5 class="mt-2">設計者：<%= @writing.designers.find_by(structure_id: @writing.id).last_name + @writing.designers.find_by(structure_id: @writing.id).first_name %></h2>
      <P class="mt-5"><%= @writing.introductions.find_by(structure_id: @writing.id).introduction %></P>
      <p>執筆者：<%= @writing.structure_users.find_by(user_id: @writing.user_id, structure_id: @writing.id).user.name %></p>
      <p>郵便番号：<%= @writing.postal_code %></p>
      <p>所在地：<%= @writing.prefecture + @writing.city + @writing.address %></p>
      <% @tags.each do |t| %>
      <p>タグ：<%= t.name %></p>
      <% end %>
      <p><%= link_to "編集", edit_writing_path(@writing) %></p>
    </div>
  </div>
</div>