<div class="container">
  <h4 class="mt-3">ジャンル一覧</h4>
  <table class="table table-striped">
    <tr>
      <th>No.</th>
      <th>ジャンル名</th>
      <th></th>
    </tr>
    <% @genres.each do |genre| %>
    <tr>
      <td><%= genre.id %></td>
      <td><%= genre.name %></td>
      <td><%= link_to "編集", edit_genre_path(genre) %></td>
    </tr>
    <% end %>
  </table>
  <%= form_with model:@new_genre, url:genres_path, local:true do |f| %>
    <%= f.text_field :name %>
    <%= f.submit '登録' %>
  <% end %>
</div>