<!DOCTYPE html>
<html>
  <head>
    <title>StructureDictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
      <a class="navbar-brand" href="/">Structure dictionary</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#barmenu" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="navbar-collapse" id="barmenu">
          <ul class="navbar-nav ml-auto align-items-center">
          <!--管理者としてログインした場合のヘッダー-->
          <% if admin_signed_in? %>
            <!--<li class="nav-item"><%#=link_to "執筆者一覧", class: "nav-link"  %></li>-->
            <li class="nav-item"><%=link_to "ジャンル一覧", genres_path, class: "nav-link"  %></li>
            <li class="nav-item"><%=link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link"  %></li>

          <!--会員としてログインした場合のヘッダー-->
          <% elsif user_signed_in? %>
            <span>ようこそ、<%= current_user.name %>さん！</span>
            <li class="nav-item"><%=link_to "About", about_path, class: "nav-link" %></li>
            <!--<li><%#=link_to "設計者一覧" %></li>-->
            <!--<li><%#=link_to "所在地一覧" %></li>-->
            <!--<li><%#=link_to "執筆者一覧", writers_path %></li>-->
            <li class="nav-item"><%=link_to "執筆" , new_writing_path, class: "nav-link" %></li>
            <li class="nav-item"><%=link_to "マイページ", writer_path(current_user.id), class: "nav-link" %></li>
            <li class="nav-item"><%=link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%=link_to "About", about_path, class: "nav-link" %></li>
            <!--<li><%#=link_to "設計者一覧" %></li>-->
            <!--<li><%#=link_to "所在地一覧" %></li>-->
            <!--<li><%#=link_to "執筆者一覧", writers_path %></li>-->
            <li class="nav-item"><%=link_to "新規登録", new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%=link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
